DATASAFE_DATA_ROOT=D:/datasafe-data-site-b
STORAGE_METADATA_BACKEND=postgres
PUBLIC_HTTP_PORT=9082
SITE_B_HTTP_PORT=9082
SITE_B_STORAGE_PORT=9193
SITE_B_PG_PORT=5542
STORAGE_POSTGRES_PUBLISH_PORT=5542
STORAGE_DEV=true
STORAGE_RATE_LIMIT_LOGIN=500
